.swal-overlay {
  background-color: rgba(184, 111, 165, 0.308);
}
.perfil_User {
  top: -650px;
  padding: 20px;
  margin-left: 400px;
  position: relative;
  width: 600px;
  height: 450px;
  border-radius: 8px;
}
.imgPf {
  top: -35%;
  width: 270px;
  position: absolute;
  display: flex;
  left: 310px;
}
.inputNm {
  color: white;
  font-size: 16.2px;
  border: 0;
  border-radius: 2px;
  font-family: "Calibri";
  position: relative;
  margin-right: 432px;
  width: 26%;
  height: 7%;
  top: 90px;
  margin-left: -190px;
  left: 533px;
  background-color: #424242;
  text-align: center;
  cursor: pointer;
}
.inputPfi {
  cursor: text;
  color: white;
  font-size: 16.2px;
  border: 0;
  border-radius: 2px;
  font-family: "Calibri";
  position: relative;
  cursor: pointer;
  width: 26%;
  height: 7%;
  top: 130px;
  left: -74px;
  margin-left: 11px;
  background-color: #424242;
}
input {
  font-family: "Roboto", sans-serif;
}
textarea {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.inputInfo {
  color: white;
  font-family: "Calibri";
  position: relative;
  margin-right: 20px;
  left: 115px;
  width: 103%;
  top: 143px;
  height: 25%;
  border: 0;
  font-size: 17.2px;
  border-radius: 0px;
  background-color: #424242;
}
.inputQlf {
  font-size: 17.2px;
  color: white;
  border: 0;
  border-radius: 2px;
  font-family: "Calibri";
  position: relative;
  margin-right: 20px;
  left: 115px;
  width: 103%;
  top: 168px;
  height: 38%;
  text-align: left;
  background-color: #424242;
}
.btDados {
  color: white;
  font-family: "Calibri";
  position: relative;
  top: 195px;
  margin-left: 290px;
  border: 0;
  border-radius: 6px;
  width: 269px;
  height: 47px;
  font-size: 17px;
  background-color: #7b2cbf;
  cursor: pointer;
}
